p {
    display: inline;
    margin: 0;
    padding: 0;
  }

div{
    margin: auto;
    inline-size: 1000px;
    overflow-wrap: break-word;
}

.para{
  overflow-wrap:  break-word;
}

.no_change{
  /* display: inline-block; */

  padding: .15em 0;
}

.green{
  color: black;
  display: inline;
    padding: .15em 0;
    background: rgba(0, 255, 0, 0.3);
}

.red{
  color:black;
  display: inline;
    padding: .15em 0;
    background: rgba(255, 0, 0, 0.3) ;
}

h2{
  margin-left: auto;
  margin-right: auto;
}